<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="css/start.css">
<style>
    .container {
  position:fixed;
  
}

/* Bottom right text */
.text-block {
  position:fixed;
  top: 170px;
  left: 20px;
  box-shadow: 5px 5px 15px -5px rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: verdana;
  font-style: italic;
  font-weight: bolder;
  border-radius: 10px;
 }
div.text-block:hover {
opacity: 1;

}
img{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}

</style>
<body>
    
    <header>
        <div class="nav">
            <div class="logo">
                <span>WATTO-Meter</span>
            </div>
            <div class="head">
                <ul class="navbar">
                    <li id="nav-icons"><a href="/main">Home</a></li>
                </ul>
            </div>
        </div>
    </header>

<!-- Content will go here -->

<div class="container">
    <img src="images/bg4.jpg" width="100%" height="auto">
    <div class="text-block">
       <h1>Electricity...💡</h1>
       <p>Let's learn how to conserve the energy!!</p>
      
       <h1><u>ABOUT US</u> </h1>
            
                <h6>• The daily usage can be observed by the user manually in the website</h6>
                <h6>• The daily usage update and the prediction tables will be appeared on the website</h6>
                <h6>• The main use of the website is to update the user 'how much of electricity -the user is consuming and how much should he use to reach his target</h6>
                <h6>• We can also observe or know the daily update via website</h6>
                <h6>• He or she can be able to  know the usage of the electricity anytime logging into the website</h6>
       
      
    </div>

   

   
    </div>
   
  

</body>
</html>