<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
  .charts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #myChart1{
    margin: 20px 0;
  }
</style>
<body>
<div class="charts">
  <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
  <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
  <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
</div>

<script>
var xValues = ['Day1','Day2','Day3','Day4','Day5','Day6','Day7','Day7','Day8','Day9','Day10'];
var yValues = [7,8,8,9,9,9,10,11,14,14];

new Chart("myChart1", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
new Chart("myChart2", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
new Chart("myChart3", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});
</script>

</body>
</html>