<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/start.css">
</head>
<body style="background-image: url('images/bg.jpg'); background-size: cover;">
    <header>
        <div class="nav">
            <div class="logo">
                <span>WATTO Meter</span>
            </div>
            <div class="head">
                <ul class="navbar">
                    <li id="nav-icons"><a href="/main">Home</a></li>
                    <li id="nav-icons"><a href="/about">About</a></li>
                    <li id="nav-icons"><a href="/graphs">Graphs</a></li>
                    <li id="nav-icons"><a href="/userinput">Calculate</a></li>
                    <li id="nav-icons"><a href="/prediction">Prediction Table</a></li>
                    <li id="nav-icons"><a href="/"><ion-icon name="power-outline"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        
        <div class="body matter">
            <p><h1><span style="--i:1">W</span><span style="--i:2">E</span><span style="--i:3">L</span><span style="--i:4">C</span><span style="--i:5">O</span><span style="--i:6">M</span style="--i:7"><span style="--i:8">E </span><%= Username %>....!!</h1>
                <span><li>Afraid of the future..? Then conserve energy today.</li><li>Flip the switch and save a Titch </li><li>The less you burn..! The more you earn.</li><li>Dont pay it.Save it</li></span></p>
        </div>
    </div>
</body>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
