<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>
    <link rel="stylesheet" href="css/start.css">
    <link rel="stylesheet" href="css/prediction.css">
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <span>WATTO-Meter</span>
            </div>
            <div class="head">
                <ul class="navbar">
                    <li id="nav-icons"><a href="/main">Home</a></li>
                    <li id="nav-icons"><a href="/about">About</a></li>
                    <li id="nav-icons"><a href="/graphs">Graphs</a></li>
                    <li id="nav-icons"><a href="/userinput">Calculate</a></li>
                    <li id="nav-icons"><a href="/prediction">Prediction Table</a></li>
                    <li id="nav-icons"><a href="/"><ion-icon name="power-outline"></ion-icon></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
       <div class="centre">
        <div class="present">
            <h3>units consumed : _____________</h3>  
    
            <h3>current bill : _____________</h3>
           </div>
           <div class="average">
            <h3>average units per day : _____________</h3> 
    
            <h3>projected units per month : _____________</h3>
    
            <h3>projected bill at month end : _____________</h3>
           </div>
           <div class="less">
            <h3><b>if you reduce your average by 1 unit : _____________</h3>
    
            <h3><b>projected units per month : _____________</h3>
    
            <h3><b>projected bill at month end : _____________</h3>
    
    
           </div>
           <div class="more">
            <h3><b>if you increase your average by 1 unit  : _____________</h3>
    
            <h3><b>projected units per month : _____________</h3>
    
            <h3><b>projected bill at month end  : _____________</h3>
    
           </div>
           <div class="catogery">
            <h3><b>catogery : _____________</h3>
       </div>

    </div>






    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>