<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-image: url('images/img1.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="main" >
        <div class="box slogan">
            
            <p><h1>WELCOME</h1>
                <h3>• Daily access your Usage.</h3>
                <h3>• Save your bucks.</h3>
                <h3>• Save today – Use tomorrow</h3>
                <h3>• Think-Act-Save.</h3>
            </p>
        </div>
        <div class="box details">
            <form method="post">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" name="Email" required >
                <input type="password" placeholder="Password" name="password" required>
                <p>Don't have an account ? <a href="/signup">Signup</a></p>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>
</body>
</html>