<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-image: url('images/img1.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="main">
        <div class="box slogan">
            
            <p><h1>WELCOME</h1>
                <h3>• Daily access your Usage.</h3>
                <h3>• Save your bucks.</h3>
                <h3>• Save today – Use tomorrow</h3>
                <h3>• Think-Act-Save.</h3>


            </p>
        </div>
        <div class="box details">
            <form method="post">
                <h1>Sign up</h1>
                <input type="text" placeholder="FirstName" name="FirstName" required >
                <input type="text" placeholder="LastName" name="LastName">
                <input type="number" placeholder="Phone Number" name="PhoneNumber" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Password" name="Password" required>
                <input type="password" placeholder="Confirm Password" name="Cpassword" required>
                <p>Already have an account ? <a href="/signin">Sign in</a></p>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</body>
</html>